@font-face {
	font-family: 'Cursiveyay';
	src: url("fonts/GreatVibes-Regular.ttf"),
         url("fonts/GreatVibes-Regular.woff") format('woff'), /* Modern Browsers */
         url("fonts/GreatVibes-Regular.ttf")  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
	font-family: 'RegularHeaderFontThing';
	src: url("fonts/Raleway-Medium.ttf"),
		url("fonts/Raleway-Medium.woff") format('woff'),
		url("fonts/Raleway-Medium.ttf") format("truetype");
}
* {
	color:white;
}
h2 {
	text-align: center;
	height:10px;
	font-size: 3.5vw;
	font-family: RegularHeaderFontThing;
}
li {
	font-family: RegularHeaderFontThing;
	font-size: 1.5vw;
}
ol {
	list-style-type: none;
}
li.pos-change {
	margin-left: -25.5px;
}
up {
	color: lime;
}
down {
	color: red;
}
new {
	color: gold;
	margin-left: 3.4px;
}
h1 {
	padding-top: 14px;
	text-align: center;
	height:10px;
	padding-bottom: 50px;
	font-size: 6.5vw;
	font-family: Cursiveyay;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
}
div#legend {
	position: absolute !important;
	top: 25px !important;
	left: 35px !important;
	width: 175px;
	border-radius: 0px;
	border: 2px solid white;
	display: flex;
	flex-direction: column;
}
h2#legend-header {
	font-size: 2.15vw;
	margin-top: 15px;
}
#key {
	margin-left: -40px;
}
.key-elem.first {
	margin-top: 8px;
}
.key-elem {
	font-family: RegularHeaderFontThing;
}
.key-elem.next {
	margin-top: -15px;
}
html {
	background-color: black;
}